<footer>
<div class="footer">
<div class="footer-text2"><br><br>
    <h2>a community that learns together.</h2><br>
    <a href="#" class="page-text">About</a><a href="#" class="page-text2">Privacy</a><br><br>
<p class="footer-text2">
    Copyright &copy; 2017 {{@blog.title}}. Powered by <i class="icon-color fa fa-heart" aria-hidden="true" style="color:red;"></i> { Ghost CMS + Digital Ocean }</p>
<br />
    <i class="icon-color fa fa-facebook page-text" aria-hidden="true" style="color:white;"></i> <i class="icon-color fa fa-twitter page-text" aria-hidden="true" style="color:white;"></i> <i class="icon-color fa fa-google-plus" aria-hidden="true" style="color:white;"></i>
    <br>
    <br>
</div>
</div>
</footer>